html {
	font-family: var(--font-a);
	background: var(--bg-b);
	color: var(--fg-a);
	font-size: 1rem;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 100vw;
	overflow-x: hidden;
}

p {
	width: clamp(20ch, 42rem, 100%);
	margin: auto;

	font-variation-settings: 'wght' 300;
	font-size: var(--font);
	text-wrap: balance;
	text-align: center;
	line-height: 1.5;
}

em {
	color: var(--fg-d);
	font-variation-settings: 'wght' 300;
}

main,
section {
	position: relative;
	display: flex;
	flex-direction: column;

	width: 800px;
	max-width: calc(100vw - 2rem);
	margin: auto;

	color: white;

	z-index: 1;
}

section {
	gap: 1.5rem;
}

h1 {
	font-family: var(--font-b);
	font-size: 4rem;
	font-weight: 00;
	line-height: 1;
	text-align: center;
	margin-top: 1rem;
}

h2 {
	font-size: 3rem;
	text-align: center;
	font-weight: 500;
	font-variation-settings: 'wght' 100;
	z-index: 1;
	margin-top: 4rem;
	margin-bottom: 0rem;
}

h3 {
	position: relative;
	font-size: 2rem;
	font-weight: 500;
	font-variation-settings: 'wght' 100;
	text-align: center;
	margin: 0 auto;
	font-family: var(--font-b);

	&::before {
		content: '#';
		color: var(--bg-d);
		font-size: 1rem;
		position: absolute;
		left: -0.75rem;
		top: 0.5rem;
	}
	&:hover::before {
		color: color-mix(in lch, var(--bg-d), var(--fg-d));
	}

	a {
		text-decoration: transparent solid underline;
		text-decoration-thickness: 1px;

		transition: 0.1s;
		&:hover {
			text-decoration-color: color-mix(in lch, var(--bg-d), var(--fg-d));
		}
	}
}

a {
	color: var(--fg-c);
	text-decoration: var(--fg-d) dotted underline;
	text-decoration-thickness: 1px;
}

button,
.btn {
	min-width: 6rem;
	width: fit-content;
	margin: auto;
	padding: 0.5rem 1rem;

	border: none;
	border-radius: 0.75rem;

	font-family: var(--font-a);
	font-variation-settings: 'wght' 500;
	font-size: 1rem;

	cursor: pointer;
}

.btn {
	position: relative;
	color: var(--fg-a);
	outline: var(--outline);

	--theme-a: var(--bg-a);
	--theme-b: var(--bg-a);

	background: radial-gradient(
			circle at -25% 50%,
			var(--bg-a) -20%,
			var(--theme-b, #a269cb),
			var(--theme-a, #33c5f4) 80%,
			var(--bg-a) 120%
		)
		top right / 200% 200%;

	transition:
		background-position 2s cubic-bezier(0.23, 1, 0.32, 1),
		background 2s cubic-bezier(0.23, 1, 0.32, 1),
		--theme-a 0.5s,
		--theme-b 0.5s,
		opacity 0.15s,
		filter 0.15s;

	font-weight: 900;

	&.active {
		--theme-a: #30d84c;
		--theme-b: #ff0051;
		background-position: 25% 50%;
		outline-color: var(--bg-a);
		outline-width: 2px;
	}

	&:hover {
		background-position: 50% 50%;
		color: var(--fg-a);

		&:not(.active) {
			background-position: 25% 50%;
			--theme-a: #33c5f4;
			--theme-b: #a269cb;
		}
	}

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		display: inline-block;
		z-index: -1;
		border-radius: inherit;
		width: 100%;
		height: 100%;
		padding: 1px;
		left: -1px;
		top: -1px;

		background-image: var(--gradient);
	}
}

code,
.code {
	font-family:
		Monaspace,
		Menlo,
		Monaco,
		Lucida Console,
		Liberation Mono,
		DejaVu Sans Mono,
		Bitstream Vera Sans Mono,
		Courier New,
		monospace;

	a {
		color: var(--fg-a);
		text-decoration: #22639c dotted underline;
		text-decoration-thickness: 1px;
	}
}

:not(pre) > code,
.code {
	/* padding: 0.1rem 0.4rem; */
	padding: 0.1rem 0.25rem 0rem 0.25rem;

	background: #1b1e28;
	border-radius: 0.2rem;
	outline: var(--outline);

	display: inline-flex;
	align-items: center;
	width: fit-content;

	font-size: var(--font-xs);
	line-height: var(--line-height-sm);
	vertical-align: middle;

	&:not(.plain) {
		background-image: var(--gradient);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
		-webkit-text-fill-color: transparent;
	}
}

.g-red:not(.plain) {
	/* prettier-ignore */
	background-image: linear-gradient(
		in lch 90deg, #ff8d45 -30%,
		#ff4e86 40%,
		#ff72f8 140%
	);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	-webkit-text-fill-color: transparent;
}

.g-blue {
	background-image: var(--gradient);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	-webkit-text-fill-color: transparent;
}

.grey {
	-webkit-text-fill-color: var(--fg-d);
}

br {
	user-select: none;
	pointer-events: none;
}

br {
	height: 1rem;
}
br-md {
	height: 2rem;
}
br-lg {
	height: 3rem;
}
br-xl {
	height: 5rem;
}
