@font-face {
	font-family: 'Caveat';
	src: url('/fonts/Caveat-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
}

@font-face {
	font-family: 'Fredoka';
	src: url('/fonts/Fredoka-VariableFont_wdth,wght.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Monaspace';
	src: url('/fonts/MonaspaceNeonVarVF[wght,wdth,slnt].ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@property --theme-a {
	syntax: '<color>';
	inherits: true;
	initial-value: #33c5f4;
}
@property --theme-b {
	syntax: '<color>';
	inherits: true;
	initial-value: #a269cb;
}
@property --angle {
	syntax: '<angle>';
	inherits: false;
	initial-value: 0deg;
}

:root {
	--font-a: 'Fredoka', system-ui, sans-serif;
	--font-b: 'Caveat', system-ui, sans-serif;
	--font-mono: 'Monaspace', monospace;

	--font: clamp(0.75rem, calc(0.75rem + 1vw), 1.1rem);
	--font-sm: clamp(10px, calc(8px + 1vw), 14px);
	--font-xs: clamp(12px, calc(6px + 1vw), 14px);
	--line-height-sm: clamp(1rem, calc(0.5rem + 1vw), 1.25rem);

	--bg-a: black;
	--bg-b: #0b0d12;
	--bg-c: #1a1e24;
	--bg-d: #2a2f36;

	--fg-a: #f5f5f5;
	--fg-b: #e0e0e0;
	--fg-c: #c6c6c6;
	--fg-d: #a8a8a8;

	--outline: 1px solid #fff3;
	--radius: 0.5rem;
	--gradient: linear-gradient(in lab
		var(--deg, 45deg),
		var(--theme-a, #33c5f4),
		var(--theme-b, #a269cb) 120%
	);
	/* prettier-ignore */
	--shadow: 0rem 0.0469rem 0.0625rem rgb(0, 0, 0, 0.115),
        0rem 0.1563rem 0.125rem hsla(0, 0%, 0%, 0.075),
        0rem 0.2813rem 0.1875rem hsla(0, 0%, 0%, 0.025),
        0rem 0.3125rem 0.3125rem hsla(0, 0%, 0%, 0.05),
        0rem 0.625rem 0.625rem hsla(0, 0%, 0%, 0.145),
        0rem 0.625rem 1.25rem hsla(0, 0%, 0%, 0.15);
}

.text-gradient {
	background-image: var(--gradient);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	-webkit-text-fill-color: transparent;
}

.text-gradient-animated {
	background-image: linear-gradient(
		var(--angle, 0deg),
		var(--theme-a, #33c5f4),
		var(--theme-b, #69cb81) 100%
	);
	background-clip: text;
	-webkit-text-fill-color: transparent;

	animation: gradient-animation 5s infinite alternate;

	/*
        Firefox _still_ doesn't support `@property`
        https://bugzilla.mozilla.org/show_bug.cgi?id=1273706
    */
	@-moz-document url-prefix() {
		animation: none;
	}
}

.gradient-outline {
	&::before {
		content: '';
		position: absolute;
		inset: 0;
		display: inline-block;
		z-index: -1;
		border-radius: inherit;
		width: 100%;
		height: 100%;
		padding: 1px;
		left: -1px;
		top: -1px;

		background-image: linear-gradient(
			var(--deg, 45deg),
			color-mix(in lch, var(--theme-a, #33c5f4) 25%, transparent),
			color-mix(in lch, var(--theme-b, #a269cb) 25%, transparent) 100%
		);

		animation: gradient-animation 5s infinite alternate;
	}

	&:hover {
		background-color: var(--gradient);
	}
}

@keyframes gradient-animation {
	from {
		--theme-a: #33c5f4;
		--angle: 0deg;
	}
	to {
		--theme-a: #ff2b00;
		--angle: 360deg;
	}
}
