<h1 class="hero-text text-gradient-animated">Pocket Shader</h1>

<br-lg></br-lg>

<p class="blurb">Just wanna throw some shaders on a screen?</p>

<code>
	<div style="color:#cf8f8f">npx</div>
	<div style="color:#dcdca5">jsr add</div>
	<div class="text-gradient" style="color:rgb(65, 143, 221)">pocket-shader</div>
</code>

<style>
	.hero-text {
		width: fit-content;
		position: relative;
		text-align: center;
		width: fit-content;
		margin: auto;
		font-size: 5rem;
		padding: 0 1rem;
	}

	.blurb {
		font-family: var(--font-b);
		text-align: center;
		font-size: 1.4rem;
		color: var(--fg-a);
		width: 100%;
		margin-bottom: 1rem;
	}

	code {
		display: flex;
		gap: 0.75rem;
		padding: 0.5rem 0.75rem;
		margin: auto;
	}
</style>
