---
import Github from '../components/Github.astro'
import '../styles/variables.css'
import '../styles/utilities.css'
import '../styles/elements.css'
import '../styles/code.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<!-- Disable Dark Reader -->
		<meta name="darkreader-lock" />
		<title>Pocket Shader</title>
		<meta name="title" content="Pocket Shader" />
		<meta
			name="description"
			content="A javascript / typescript package that makes it easy to render WebGL shaders in the browser."
		/>
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://pocket-shader.braebo.dev" />
		<meta property="og:title" content="Pocket Shader" />
		<meta
			property="og:description"
			content="A javascript / typescript package that makes it easy to render WebGL shaders in the browser."
		/>
		<meta property="og:image" content="https://pocket-shader.braebo.dev/pocket-shader.png" />
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://pocket-shader.braebo.dev" />
		<meta property="twitter:title" content="Pocket Shader" />
		<meta
			property="twitter:description"
			content="A javascript / typescript package that makes it easy to render WebGL shaders in the browser."
		/>
		<meta
			property="twitter:image"
			content="https://pocket-shader.braebo.dev/pocket-shader.png"
		/>
	</head>
	<body>
		<Github />
		<slot />
		<footer>
			<p>
				Made with 💙 by
				<a
					href="https://github.com/braebo"
					class="made-by text-gradient"
					target="_blank"
					rel="noopener"
				>
					braebo
				</a>
			</p>
		</footer>
	</body>

	<style>
		footer {
			text-align: center;
			margin-top: 10rem;
			margin-bottom: 2rem;
			font-family: var(--font-b);
		}

		a.made-by {
			color: var(--fg-b);

			font-size: 1rem;
			letter-spacing: -1px;
			font-family: var(--font-mono);
			font-variation-settings: 'wght' 200;

			text-decoration-color: var(--bg-d);
			text-decoration-thickness: 2px;
			text-decoration-style: wavy;

			transition: 0.2s;
		}
		a.made-by:hover {
			color: var(--fg-a);
			text-decoration-thickness: 4px;
			text-decoration-style: dashed;
		}
	</style>
</html>
