---
import '../styles/variables.css'
import '../styles/utilities.css'
import '../styles/elements.css'
import Github from '../components/Github.astro'

interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<!-- ignore dark-reader extension -->
		<meta charset="UTF-8" />
		<meta name="description" content="pocket-shader - render a shader" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="darkreader-lock" />
		<title>{title}</title>
	</head>
	<body>
		<Github />
		<slot />
		<div style="height: 10rem"></div>
	</body>
</html>

<style is:global>
	h1 {
		font-family: var(--font-b);
	}
</style>
