---
import Code from './Code.astro'
---

<script>
	import { PocketShader } from 'pocket-shader'
	import cloudsShader from '../shaders/clouds.glsl?raw'
	import dyingUniverseShader from '../shaders/dyingUniverse.glsl?raw'

	new PocketShader('#clouds', {
		fragmentShader: cloudsShader,
		autoStart: true,
	})

	new PocketShader('#universe', {
		fragmentShader: dyingUniverseShader,
		autoStart: true,
	})
</script>

<section>
	<p>
		<code>pocket-shader</code> can be used to render ShaderToy shaders.
	</p>

	<Code
		id="shadertoy"
		code={`
				import { PocketShader } from 'pocket-shader'

				new PocketShader('#some-div', {
				    fragmentShader: '...',
				    shadertoy: true, // [!code highlight]
				})
			`}
	/>

	<p>
		This will create the common ShaderToy uniforms and pass them to the shader:
	</p>

	<div class="shaders">
		<div id="clouds" class="card"></div>
		<div id="universe" class="card"></div>
	</div>
</section>

<style>
	.shaders {
		display: flex;
		justify-content: space-around;
		align-items: center;
		/* width: 100%; */
		gap: 1rem;

		div {
			width: 20rem;
			height: 10rem;
		}
	}

	.card {
		box-sizing: content-box;
		contain: strict;
		display: flex;

		width: 20rem;
		max-width: 100%;
		height: 10rem;

		opacity: 0;
		box-shadow: var(--shadow);
		border-radius: var(--radius);

		animation: fade-in 1s ease-out 0.1s forwards;
	}

	@keyframes fade-in {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	#clouds {
		width: 20rem;
		height: 10rem;
	}
</style>
